{% extends "draggable.html" %}
{% block content %}
<div id="controlsContainer">
  <div id="controls" class="controls" data-state="hidden">
    <button id="playpause" type="button" data-state="play">Play/Pause</button>
    <div class="progress">
      <progress id="progress" value="0" min="0">
        <span id="progress-bar"></span>
      </progress>
    </div>
    <button id="mute" type="button" data-state="unmute">Mute/Unmute</button>
    <button id="volinc" type="button" data-state="volup">Vol+</button>
    <button id="voldec" type="button" data-state="voldown">Vol-</button>
  </div>
</div>
<div id="container">
  <video id="display" muted>
  Your browser does not support the video tag.
  </video>
</div>

<script src="static/js/video-player.js"></script>
<script>
var req = new XMLHttpRequest();
req.open('GET', 'uploads/{{ filename }}');
req.responseType = 'blob';

req.onload = function() {
   if (this.status === 200) {
      var videoBlob = this.response;
      var vid = URL.createObjectURL(videoBlob);
      display.src = vid;
      alert('video downloaded complete')
   }
   else {
      alert('video downloaded error')
   }
}
req.onerror = function() {
   alert('error on video download request')
}

req.send();
</script>
<script>
var cc = document.getElementById('controlsContainer')
var controls = document.getElementById('controls')
controls.style.opacity = 0;
cc.onmouseenter = function(event){
  controls.style.pointerEvents = 'auto';
  controls.style.opacity = 1;
}
cc.onmouseleave = function(event){
  if (cc.offsetHeight >= document.getElementById('container').offsetTop){
    controls.style.pointerEvents = 'none';
    controls.style.opacity = 0;
  }
}
</script>
{% endblock %}
